<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tugas Form Input Data Binding</title>
  <style>
    body {
      margin: 5%;
      font-family: Verdana;
    }
  </style>
</head>
<body>
  <div id="app">
    <p><input type="text" placeholder="Ketik Kata Kunci" v-on:keyup.enter="submit" v-model="nama"></p>

    <h3>Daftar nama ({{ namaawal.length }})</h3>

    <template v-if="namaawal.length > 1">
      <ul>
        <li v-for="(item, index) of namaawal">{{ index+1 }} - {{ item }}</li>
      </ul>
    </template>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        namaawal: ['aziz', 'bayu'],
        nama: ''
      },
      methods: {
        submit:function(event) {
          let text = event.target.value
          this.namaawal.unshift(this.nama)
          this.nama = ""
        }
      },
      computed: {

      }
    })
  </script>
</body>
</html>
